<div class="row main">
	<div class="col-sm-12 col-md-4">
		<h1 id="welcome_h">Welcome to Buycle.</h1>
		<h2 id="msg_h">Ride Healthy, live healthy. <br>We will take care of all your needs!</h2>	
    </div>
</div>     